backend/.config/.env
HELP.md
logs
.vscode
.idea
.DS_Store
credentials.json
keys.json
token.json
__pycache__
backend/.venv/
backend/.ruff_cache/
backend/.pytest_cache/
backend/faiss
frontend/node_modules/
frontend/dist/
docker/ollama_data/
TODO