fastapi
uvicorn
langchain
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
annoy
langchain-community
pydantic
PyPDF2
langchain-google-community
apscheduler
pytest
ruff
pytest-env
instaloader
langchain-experimental
langchain-openai
